@font-face {
	font-family: 'DINPro';
	src: url(../../assets/fonts/DINPro-Regular.woff2) format('woff2'),
	url(../../assets/fonts/DINPro-Regular.woff) format('woff');
	font-weight: normal;
	font-style: normal;
}