@font-face {
	font-family: 'PresicavW00';
	src: url(../../assets/fonts/PresicavW00-Regular.woff2) format('woff2'),
	url(../../assets/fonts/PresicavW00-Regular.woff) format('woff');
	font-weight: normal;
	font-style: normal;
}